<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Purchase Orders /</span> List of Purchase Orders
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> List of Purchase
                    Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="../add"><i class="bx bx-plus me-1"></i> Add Purchase Orders</a>
            </li>
        </ul>
        <div class="row mb-5">
            <div class="col-md-12" *ngFor="let p of providers">
                <ng-container *ngIf="p.orders && p.orders.length>0 ">
                    <div class="card mb-3">
                        <div class="row g-0 ">
                            <div class="col-md-2">
                                <img class="card-img card-img-left img-prov" src="{{p.logo}}" alt="Card image" />
                            </div>
                            <div class="col-md-10">
                                <div class="card-body ">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <h5 class="card-title mb-3">{{p.id }} - {{p.compName}}</h5>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h6 class="card-subtitle mb-2">Contact Info</h6>
                                                </div>
                                                <div class="col-md-4">
                                                    <div>
                                                        <h6 class="card-subtitle text-muted">First and Last Name</h6>
                                                        <p class="card-text">
                                                            {{p.contact.name}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <h6 class="card-subtitle text-muted">Role</h6>
                                                    <p class="card-text">
                                                        {{p.contact.role}}
                                                    </p>
                                                </div>
                                                <div class="col-md-4">
                                                    <h6 class="card-subtitle text-muted">Phone</h6>
                                                    <p class="card-text">
                                                        {{p.contact.phone}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-0 ">
                            <div class="col-md-12">
                                <div class="table-responsive text-nowrap m-3">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Info</th>
                                                <th>Purchase Order No.</th>
                                                <th>Date Issued</th>
                                                <th>Delivery Date</th>
                                                <th>Delivery Address</th>
                                                <th>State</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-border-bottom-0" id="grillaProv2">
                                            <tr *ngFor="let o of p.orders">
                                                <td class="text-center"><i class='bx bx-info-circle text-primary' routerLink="../detail/{{o.id}}"></i></td>
                                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i>
                                                    <strong>{{o.id}}</strong>
                                                </td>
                                                <td>{{o.dateE}}</td>
                                                <td>{{o.dateR}}</td>
                                                <td>{{o.info}}</td>
                                                <td>
                                                    <span class="badge bg-label-primary me-1" *ngIf="o.state">ACTIVE</span>
                                                    <span class="badge bg-label-danger me-1" *ngIf="!o.state">CANCELED</span>
                                                </td>
                                                <td>
                                                    <button *ngIf="o.state" class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#modalCenter" (click)="checkCancel(o)">
                                                        <i class='bx bxs-x-circle'></i>
                                                    </button>
                                                    <button *ngIf="!o.state" class="dropdown-item" type="button"  (click)="setActive(o)">
                                                        <i class='bx bxs-check-circle'></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="noOrders">
                <div class="alert alert-primary d-flex align-items-center justify-content-between mt-2" role="alert">
                    <div class="d-flex"> 
                        <i class='bx bx-info-circle me-2'></i>
                        <div>
                            There are no purchase orders to show, do you want to add one?
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary d-flex align-items-center" routerLink="../add">
                            <i class='bx bx-plus-circle me-1'></i>
                            <div>
                                Add Purchase Order
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">Do you wish to cancel the purchase order?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-danger ms-2" id="btnBorrado" data-bs-dismiss="modal" (click)="setCancel()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>